[user]
	name = Shivendra
	email = !
	username = shivendraodean
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/shivendra.odean/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/shivendra.odean/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = "aws help codecommit credential-helper "
	UseHttpPath = true
